.txt-input {
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    outline: none;
    border-radius: 3px;
    font-size: 14px;
}

.ag-page-size-select {
    position: absolute;
    bottom: 11px;
    left: 30px;
    border: 1px solid #cccccc;
    font-size: 14px;
    padding: 2px;
    outline: none;
}